server:
  address: 0.0.0.0
  http2:
    enabled: false
plugins:
  ripsrc:
    external: true
    connectTimeout: 10000
    socketTimeout: 10000
    connectionRequestTimeout: 10000
  youtube:
    enabled: true
    oauth:
      enabled: true
      skipInitialization: true
    allowSearch: true 
    allowDirectVideoIds: true 
    allowDirectPlaylistIds: true 
    clients: ["TVHTML5EMBEDDED", "TV", "ANDROID_VR", "ANDROID_MUSIC", "IOS", "MWEB"]
    clientOptions:
            ANDROID_VR:
                playback: false
                playlistLoading: true
                searching: false
                videoLoading: true
            ANDROID_MUSIC:
                playback: false
                playlistLoading: true
                searching: true
                videoLoading: true
            IOS:
                playback: false
                playlistLoading: true
                searching: true
                videoLoading: true
            MWEB:
                playback: false
                playlistLoading: true
                searching: false
                videoLoading: true
  lavasrc:
    providers: 
      - "ripisrc:%ISRC%"
    sources:
      spotify: true 
      applemusic: true 
      deezer: false 
      yandexmusic: false 
      flowerytts: false 
      youtube: false 
      vkmusic: false
    spotify:
      playlistLoadLimit: 6 
      albumLoadLimit: 6 
      resolveArtistsInSearch: true 
      localFiles: false
    deezer:
      formats: [ "FLAC", "MP3_320", "MP3_256", "MP3_128", "MP3_64", "AAC_64" ]
lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:302e35a9abce9805f4cbff600732247a494b148d"
      snapshot: true
      repository: "https://maven.kikkia.dev/snapshots"
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:2d5cd1c"
      repository: "https://maven.lavalink.dev/snapshots"
    - dependency: "com.kikkia.lofiradio:Lofi-Radio-Plugin:b2761ca"
      repository: "https://maven.kikkia.dev/snapshots"
    - dependency: "com.kikkia.ripsrc:ripsrc-plugin:0928561"
      repository: "https://maven.kikkia.dev/snapshots"
  server:
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: false
      local: false
    filters: 
      volume: true
      equalizer: true
      karaoke: true
      timescale: true
      tremolo: true
      vibrato: true
      distortion: true
      rotation: true
      channelMix: true
      lowPass: true
    bufferDurationMs: 800 
    frameBufferDurationMs: 5000
    opusEncodingQuality: 10 
    resamplingQuality: HIGH 
    trackStuckThresholdMs: 10000 
    useSeekGhosting: true 
    youtubePlaylistLoadLimit: 6 
    playerUpdateInterval: 5 
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true
    timeouts:
      connectTimeoutMs: 10000
      connectionRequestTimeoutMs: 10000
      socketTimeoutMs: 10000
metrics:
  prometheus:
    enabled: true
    endpoint: /metrics
logging:
  file:
    path: ./logs/
  level:
    root: INFO
    lavalink: DEBUG
    dev.lavalink.youtube.YoutubeAudioSourceManager: DEBUG
  request:
    enabled: true
    includeClientInfo: true
    includeHeaders: false
    includeQueryString: true
    includePayload: true
    maxPayloadLength: 10000
  logback:
    rollingpolicy:
      max-file-size: 1GB
      max-history: 30

